%div(class="row" )
  %h3 登録者数
%div(class="row" )
  = content_tag(:div, nil, id: :summary_chart, data: @summary.data.to_json)
  :javascript
    Morris.Line({
      element: 'summary_chart',
      data: $.parseJSON($('#summary_chart').attr('data')),
      xkey: 'date',
      ykeys: ['value'],
      labels: ['登録者数']
    });
