%nav(class="navbar navbar-default" role="navigation")
  %div(class="navbar-header")
    %a(class="navbar-brand" href="/") DietDoctor
  %div(class="collapse navbar-collapse")
    %ul(class="nav navbar-nav")
      %li
        %a(href="#/actions") チャレンジ項目
      %li
        %a(href="#/clinic") DDクリニック
%div
  = render 'shared/flash_message'